.container {
  padding-top: 3%;
  padding-bottom: 8%;
  margin-top: 10%;
  background-color: #B8B1C1;
  border-radius: 10px;
  width: 50%;
}

h1 {
  margin-top: 5%;
  color: #3ebde7;
}

.message-form {
  position: relative;
}

.btn {
  color: #625261;
  background: #ffcb8e;
  border-color: #ffcb8e;
  width: 10%;
}

button {
  margin-top: 5%;
}
