<div>
  <h1>
    Welcome {{displayname}}
  </h1>
  <div class="container">
    <form (ngSubmit)="logout()">
      <button type="submit" class="btn btn-primary">
        <mat-icon>
          logout
        </mat-icon>
      </button>
      <h3>{{displayname}} Please click here to add rooms</h3>
      <mat-card class="add-rooms">
        <a type="button" class="mat-icon-button" (click)="addRoom()">
          <mat-icon>add</mat-icon>
        </a>
      </mat-card>
      <mat-card class="rooms-card" *ngFor="let room of displayroomname">
        <span class="rooms-name">
        <a [id]=room.roomId (click)="enterChatroom($event)">{{room.roomname}}</a>
      </span>
      </mat-card>
    </form>
  </div>
</div>
