<div class="container">

  <mat-drawer-container class="drawer-container">
    <mat-drawer mode="side" opened class="left-drawer">
      <div class="users-pane">
        <mat-card class="users-card">
          <button class="btn btn-primary" (click)="logout()">
            <mat-icon>logout</mat-icon>
          </button>
        </mat-card>
        <mat-card class="users-card" *ngFor="let author of displayAuthors">
          <mat-icon>person</mat-icon>
          <span class="username">{{author}}</span>
        </mat-card>
      </div>
    </mat-drawer>


    <mat-drawer-content class="chat-pane">
      <div #chatcontent [scrollTop]="scrolltop" class="chat-content">

        <div class="message-box" *ngFor="let chat of displayChats">
          <div class="chat-status" text-center *ngIf="chat.type === 'join' || chat.type === 'exit'; else message">
            <!--          <span class="chat-date">{{chat.date | date:'short'}}</span>-->
            <span class="chat-content-center">{{chat.message}}</span>
          </div>

          <ng-template #message>
            <div class="chat-message">
              <div class="right-bubble"
                   [ngClass]="{'right-bubble': chat.author == curentUsername, 'left-bubble': chat.author != curentUsername}">
                <span class="msg-name" *ngIf="chat.author === displayAuthors">Me</span>
                <span class="msg-name" *ngIf="chat.author !== displayAuthors">{{chat.author}}</span>
                <span class="msg-date"> at {{chat.displayDate}}</span>
                <p text-wrap>{{chat.message}}</p>
              </div>
            </div>
          </ng-template>


          <!--        <span>{{chat.author}}</span>-->
          <!--        <span class="chat-content-center">{{chat.message}}, {{chat.displayDate}}</span>-->
          <!--        <div class="chat-status" text-center *ngIf="chat.type==='join'||chat.type==='exit';">-->


        </div>
        <!--scroll closing-->
      </div>

      <footer class="sticky-footer">
        <form class="message-form" [formGroup]="chatForm" (ngSubmit)="chats()">
          <mat-form-field>
            <input matInput class="form-control" placeholder="Enter your message" formControlName="inputMessage" [errorStateMatcher]="matcher">
            <mat-error>
              <span *ngIf="!chatForm.get('inputMessage').valid && chatForm.get('inputMessage').touched">Enter your message</span>
            </mat-error>
          <button type="submit" class="btn btn-primary">Send</button>
          </mat-form-field>
        </form>

      </footer>


    </mat-drawer-content>
  </mat-drawer-container>
</div>
