<div class="container">
  <mat-drawer-container class="drawer-container">
    <mat-drawer mode="side" opened class="left-drawer">
      <div class="users-pane">
        <mat-card class="users-card">
          <button class="btn btn-secondary" (click)="logout()">
            Logout
            <mat-icon>logout</mat-icon>
          </button>
        </mat-card>
        <mat-card class="users-card" *ngFor="let author of displayAuthors">
          <mat-icon>person</mat-icon>
          <span class="username">{{author}}</span>
        </mat-card>
      </div>
    </mat-drawer>


    <mat-drawer-content class="chat-pane">
      <div id="chatcontainer" #chatcontent [scrollTop]="scrolltop" class="chat-content">

        <div class="message-box" *ngFor="let chat of displayChats">
          <div class="chat-status" text-center *ngIf="chat.type === 'join' || chat.type === 'exit'; else message">
            <!--          <span class="chat-date">{{chat.date | date:'short'}}</span>-->
            <span class="chat-content-center">{{chat.message}}</span>
          </div>

          <ng-template #message>
            <div class="chat-message">
              <div class="right-bubble"
                   [ngClass]="{'right-bubble': chat.author == curentUsername, 'left-bubble': chat.author != curentUsername}">
                <span class="msg-name" *ngIf="chat.author === curentUsername">Me</span>
                <span class="msg-name" *ngIf="chat.author !== curentUsername">{{chat.author}}</span>
                <span class="msg-date"> at {{chat.displayDate}}</span>
                <p text-wrap>{{chat.message}}</p>
              </div>
            </div>
          </ng-template>


          <!--        <span>{{chat.author}}</span>-->
          <!--        <span class="chat-content-center">{{chat.message}}, {{chat.displayDate}}</span>-->


        </div>
        <!--scroll closing-->
      </div>

      <footer class="sticky-footer">

        <form class="message-form" [formGroup]="chatForm" (ngSubmit)="chats()">
<!--          <mat-form>-->
          <div *ngIf="chatForm.errors">Input is invalid</div>

            <input formControlName="chatmsg" placeholder="Enter your message" required="">
          <div *ngIf="chatmsg.invalid"
               class="mat-error">Enter message please</div>
            <button type="submit" mat-button [disabled]="!chatForm.valid" mat-icon-button>
              <mat-icon>send</mat-icon>
            </button>
<!--          </mat-form>-->
        </form>

<!--        <form class="message-form" [formGroup]="messageForm" (ngSubmit)="chats()">-->

<!--          <input id="chatmsg" class="form-control" formControlName="chatmsg" required >-->

<!--          <div *ngIf="chatmsg.invalid && (chatmsg.dirty || chatmsg.touched)"-->
<!--                 class="alert alert-danger">-->

<!--              <div *ngIf="chatmsg.errors.required">-->
<!--                Name is required.-->
<!--              </div>-->
<!--              <div *ngIf="chatmsg.errors.minlength">-->
<!--                Name must be at least 4 characters long.-->
<!--              </div>-->
<!--          </div>-->
<!--        </form>-->
      </footer>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
